### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
/vendor/

### IDE
.idea/

### Vagrant and PuPHPet
.vagrant
/puphpet/*
!/puphpet/config.yaml
!/puphpet/keep


### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/themes/themosis-theme/*
!/htdocs/content/themes/themosis-theme/app
/htdocs/content/uploads/
/htdocs/content/upgrade/
/config/environment.php
/htdocs/.htaccess

### Environment Credentials
.env.*.php
!.env.local.php

### Theme
/htdocs/content/log/