@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200,600,400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,latin-ext);

html {
    height: 100%;
}

pre {
    font-family: "Fira Mono", sans-serif;


}
pre.prettyprint {
    background: rgba(200, 200, 200, 0.8);
    padding: 8px;
}

body {
    padding: 0;

    background: #10001e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #10001e 0%, #1d0042 19%, #1d0042 23%, #10001e 44%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #10001e), color-stop(19%, #1d0042), color-stop(23%, #1d0042), color-stop(44%, #10001e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #10001e 0%, #1d0042 19%, #1d0042 23%, #10001e 44%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #10001e 0%, #1d0042 19%, #1d0042 23%, #10001e 44%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #10001e 0%, #1d0042 19%, #1d0042 23%, #10001e 44%); /* IE10+ */
    background: linear-gradient(135deg, #10001e 0%, #1d0042 19%, #1d0042 23%, #10001e 44%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10001e', endColorstr='#10001e', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    height: 100%;

    color: #dfdfdf;
    font-family: 'Titillium Web', sans-serif;
}
.light, .gold {
    color: #10001e;
}

a {
    color: #dfdfdf;
    text-decoration: none;
    transition: color 0.35s;
}

.gold a {
    color: #1d0042;
    font-weight: bold;
}

.light a {
    color: #10001e;
    font-weight: bold;
}

a:hover, a.active, .gold a:hover, .gold a.active
{
    color: #ffbd17;
}

.light a:hover, .light a.active {
    color: #5d50A2;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffbd17;
}
.gold h1, .gold h2, .gold h3, .gold h4, .gold h5, .gold h6,
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6
{
    color: #1d0042;
}
h1 {
    font-size: 3.125rem;
    font-size: 3.125rem;
    text-transform: capitalize;
    margin: 1rem 0;
}

h1:first-child, h1:first-of-type {
    margin-top: 0;
}

.main-nav {
    line-height: 100px;
    font-size: 20px;
}
.main-nav a {
    display: inline-block;
    margin-right: 26px;
    text-transform: uppercase;
}
.main-nav nav {
    float: left;
}
.QL-logo {
    float: left;
    width: 48px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    /*border: 2px solid #1d0042;*/
    margin-right: 126px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 26px;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

.col.txt, .col-100.txt, .col-70.txt, .col-30.txt {
    padding: 30px;
}

.col-100, .col-70, .col-30 {
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.col-100 {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.col-70 {
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
}
.col-30 {
    width: 30%;
    background: rgba(200,200,200,0.2);
}

.col.txt p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.25em;
}

.col.txt pre {
    margin: 1.25em 0;
    padding: 0.75em;
    font-size: 14px;
}

.col.txt code {
    display: inline-block;
    background: rgba(200, 200, 200, 0.8);
    padding: 2px 4px 1px;
    line-height: 14px;
    font-family: 'Fira Mono', sans-serif;
    font-size: 14px;
}

.ql-loader {
    height: 0px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.col-100 .ql-loader, .col-70 .ql-loader, .col-30 .ql-loader {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.ql-loader .bar {
    height: 3px;
    transition: width 0.35s, height 0.35s;
    background-color: #ffbd17;
    position: absolute;
    margin-bottom: -3px;
}

.section {
    -webkit-transition: height 0.35s;
    -moz-transition: height 0.35s;
    -ms-transition: height 0.35s;
    transition: height 0.35s;
    overflow: hidden;
}


.section.light {
    background: #dfdfdf;
}
.section.dark {

}
.section.gold, .gold {
    background: #b26200; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b26200 0%, #ff9633 20%, #ff963d 23%, #b26200 52%, #a55b00 61%, #b26200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b26200), color-stop(20%,#ff9633), color-stop(23%,#ff963d), color-stop(52%,#b26200), color-stop(61%,#a55b00), color-stop(100%,#b26200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #b26200 0%,#ff9633 20%,#ff963d 23%,#b26200 52%,#a55b00 61%,#b26200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #b26200 0%,#ff9633 20%,#ff963d 23%,#b26200 52%,#a55b00 61%,#b26200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #b26200 0%,#ff9633 20%,#ff963d 23%,#b26200 52%,#a55b00 61%,#b26200 100%); /* IE10+ */
    background: linear-gradient(135deg, #b26200 0%,#ff9633 20%,#ff963d 23%,#b26200 52%,#a55b00 61%,#b26200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26200', endColorstr='#b26200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.transition-wrap {
    padding: 0!important;
    overflow: hidden;
    background: transparent !important;
}

.transition-wrap>.col {
    width: 100%;
}

.ql-trans-container {

}

.centered {
    text-align: center;
}

footer .container {
    line-height: 50px;
}

@media only screen and (max-width : 992px) {
    .container {
        width: 690px;
    }
}