
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /mypage/htdocs/
# If running in a sub directory, use this:
# RewriteBase /sub_dir/

RewriteRule ^index\.php$ - [L]

RewriteRule ^cms/?$ /mypage/htdocs/cms/wp-login.php [L]
# If running in a sub directory, use this:
# RewriteRule ^cms/?$ /sub_dir/cms/wp-login.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /mypage/htdocs/index.php [L]
# If running in a sub directory, use this:
# RewriteRule . /sub_dir/index.php [L]
</IfModule>

# END WordPress
